html {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-image: url("../img/dbpedia_bg.png");
    background-repeat: repeat;
}

#main {
    max-width: 800px;
    margin: 40px auto 0 auto;
    padding: 0 50px 0 50px;
    background-color: white;
    border-width: 5px 0 5px 0;
    border: solid #6060f0;
}

.ui-menu {
    padding: 0;
    font-weight: bold;
    color: #405952;
}

a.ui-corner-all:hover {
    background-color: #FF974F;
    font-weight: bold;
}

header {
    font-weight: bold;
}

#f {
    margin-bottom: 20px;
}

#q {
    width: 400px;
    padding: 5px;
    font-size: 20px;
}

#submit-button {
    padding: 5px;
    font-size: 20px;
}


#answer-box {
    background: #f0f0f0;
    margin: 10px 0 10px 0;
    width: 800px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#error-box {
    border: 1px solid #888;
    padding: 3px;
    margin: 10px 0 10px 0;
    width: 800px;
}


#production-box {
    box-sizing: content-box;
    border: 1px solid #888;
    padding: 3px;
    margin: 10px 0 10px 0;
    width: 95%;
}

.productions td {
    vertical-align: top;
    border-bottom: 1px solid #6d95e0;
}

.production_name {
    font-weight: bold;
    width: 130px;
    color: #405952;
}

.sparql-query {
    color: #ff585d;
}

.solution-routes {
    color: #6d95e0;
}
