html {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-image: url("../img/dbpedia_bg.png");
    background-repeat: repeat;
}

a {
    color: #FE5F55;
}

h1 {
    color: #0A2463;
}

#main {
    max-width: 800px;
    margin: 40px auto 0 auto;
    padding: 25px 25px 0 25px;
    background-color: white;
    border-width: 5px 0 5px 0;
    border: solid #0A2463;
}

header {
    font-weight: bold;
}

#f {
    margin-bottom: 20px;
}

#q {
    width: calc(100% - 110px);
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 26px;
}

#samples {
    margin: 10px 0 10px 0;
}

    #samples a {
        font-size: 26px;
        display: block;
        margin-bottom: 3px;
    }

#submit-button {
    width: 90px;
    padding: 5px;
    font-size: 26px;
}


#answer-box {
    background: #f0f0f0;
    margin: 10px 0 10px 0;
    padding: 10px;
    font-weight: bold;
    color: #AF0000;
}

#options-box div {
    padding: 20px 0 20px 0;
}

#options-box a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#error-box {
    border: 1px solid #888;
    padding: 3px;
    margin: 10px 0 10px 0;
}

#production-box {
    border: 1px solid #888;
    padding: 3px;
    margin: 10px 0 10px 0;
}

.productions td {
    font-family: monospace;
    vertical-align: top;
    border-bottom: 1px solid #6d95e0;
    word-break: break-all;
    padding: 5px;
}

.production_name {
    font-weight: bold;
    width: 130px;
    color: #405952;
}

.production_value {
    font-weight: bold;
}

.dialog-context {

}

.tokenizer {
    color: #4785ce;
}

.parser {
    color: #3c5299;
}

.nameresolver {
    color: #008000;
}

.nameless {
}

.relationizer {

}

.solve {
    color: #2b4dd8;
}

.sparql {
    color: #AF0000;
}

.solution-routes {
    color: #213ba6;
}
