html {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
}

#main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: black;
}

#header, #footer {
    width: 100%;
    height: 50px;
    background-color: #000000;
    box-sizing: border-box;
    color: white;
    line-height: 50px;
    padding: 0 20px 0 20px;
}

#header a, #footer a {
    color: red;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
}

#body {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100% - 100px);
}

    #left, #right {
        color: #51FF0D;
        background-color: black;
        font-family: "Courier New";
        position: absolute;
        box-sizing: border-box;
        width: calc(50% - 300px);
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
    }

    #left {
        position: absolute;
        left: 0;
    }

    #center {
        position: absolute;
        left: calc(50% - 300px);
        width: 600px;
        max-width: 100%;
        height: 100%;
        font-family: arial, sans-serif;
        overflow: hidden;
        background-color: black;
    }

        #monitor {
            background-color: green;
            height: 300px;
        }

        #input {
            background-color: black;
            font-family: arial, sans-serif;
        }

        #log {
            color: white;
            overflow: auto;
            height: calc(100% - 500px);
        }

    #right {
        position: absolute;
        right: 0;
    }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#popup, #samples {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #e0e0ff;
    display: none;
    max-height: 100%;
    overflow: auto;
    padding: 20px;
}

#samples li {
    cursor: pointer;
    margin-bottom: 10px;
}

    #samples li:hover {
        color: #c00000;
    }

#popup-header {
    position: relative;
}

#close {
    font-family: arial, sans-serif;
    position: absolute;
    border: 1px solid grey;
    padding: 2px;
    margin: 2px;
    top: 0;
    right: 0;
    cursor: pointer;
}

#popup-contents {
    padding: 40px;
}

#popup a {
    color: #0000c0;
    font-family: arial, sans-serif;
}

#options-header {
    font-size: 24px;
}

#answer-box {
    background-color: black;
    padding: 10px;
    font-size: 24px;
    color: #9d9dff;
}

#error-box {
    padding: 10px;
    font-size: 24px;
    color: #c00000;
}

#log {
    padding: 10px;
}

#log h3 {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 0;
}

    #log h3:hover {
        color: #c00000;
    }

@media only screen and (max-width: 600px) {
    #main, #header, #body, #footer, #left, #center, #right, #log {
        position: static;
        width: 100%;
        height: inherit;
    }
}

#q {
    width: calc(100% - 110px);
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 26px;
}

#reset, #show-samples {
    padding: 5px;
    font-size: 18px;
}

#submit-button {
    width: 90px;
    padding: 5px;
    font-size: 26px;
}

h2 {
    font-size: 14px;
}

p {
    font-size: 12px;
}